@import "tailwindcss";

:root {
  --background: #1d2631;
  --foreground: #ededed;

  --bckground-muted: #263b55;
}

/* @theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
} */

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #1d2631;
    --foreground: #ededed;
  }
} */

/* * {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: 0.9rem;
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

input {
  background-color: var(--foreground);
  color: var(--background);
  padding: 0.4rem 0.7rem;
  border-radius: 0.25rem;
  width: 100%;
  outline: none;
}

select {
  background-color: var(--foreground);
  color: var(--background);
  padding: 0.6rem 0.5rem;
  border-radius: 0.25rem;
  width: 100%;
  max-width: 232px; 
  outline: none;
}

button {
  background-color: #57b632;
  color: var(--background);
  padding: 0.5rem 0.75rem;
  margin: 0.5rem 0;
  border-radius: 0.5rem;
  cursor: pointer;
  transition-duration: 200ms;
}

input,
select,
textarea {
  box-shadow: 0 0 1.5px 1px white;
}

input:hover,
select:hover,
textarea:hover {
  box-shadow: unset;
}

button:hover {
  background-color: #57b632cb;
  color:black;
}