@import "tailwindcss";

:root {
  --background: #1d2631;
  --foreground: #ededed;

  --background-muted: #263b55;

  --color-dark-blue: #00b7ff3a;
  --color-light-blue: #74d3ffb0;
  --color-light-green:  #009689;
  --color-red: #ff4e7a;
  --color-link: #60a5fa;
  --color-link-transparent: rgba(37, 99, 235, 0.2);

  --hover-color-light-green: #00786f;

  --color-list-bg-red: #d33b3b7a;
  --color-list-bg-green: #84ffb73f;
  --color-list-border-red: #fa6f6f50;
  --color-list-border-green: #00d45869;
}

/* @theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
} */

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #1d2631;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1.25rem;
}

h5, h6 {
  font-size: 1rem;
}

input {
  background-color: var(--foreground);
  color: var(--background);
  padding: 0.4rem 0.7rem;
  width: 100%;
  outline: none;
}

select {
  background-color: var(--foreground);
  color: var(--background);
  padding: 0.6rem 0.5rem;
  /* width: 100%; */
  /* max-width: 232px; */
  outline: none;
}

.base-container {
  /* flex flex-col items-center gap-2 bg-[var(--background-muted)] rounded-md p-3 */
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  background: var(--background-muted);
  border-radius: 0.375rem;
  padding: 0.75rem;
}

.primary-btn {
  background-color: var(--color-light-green);
  color: white;
  padding: 0.5rem 0.75rem;
  margin: 0.5rem 0;
  border-radius: 0.25rem;
  cursor: pointer;
  transition-duration: 200ms;
}

.primary-btn:hover {
  background-color: var(--hover-color-light-green);
}

.secondary-btn {
  display: flex;
  padding: 0.5rem 0.75rem;
  margin: 0.5rem 0;
  border: 1.5px solid var(--color-light-blue);
  border-radius: 0.2rem;
  background: #74d3ff3f;
  transition-duration: 200ms;
}

.secondary-btn:not([disabled]):hover {
  border: 1.5px solid transparent;
  cursor: pointer;
}

input,
select,
textarea {
  box-shadow: 0 0 1.5px 1px white;
  transition-duration: 200ms;
  border-radius: 0.1rem;
}

input[type="checkbox"] {
  box-shadow: unset;
}

input:hover,
select:hover,
textarea:hover,
input:focus,
select:focus,
textarea:focus {
  box-shadow: unset;
}

input,
select,
textarea,
p,
th,
td {
  font-size: 0.9rem;
}

td {
  text-align: center;
}

table {
  border-collapse: separate;
  border-spacing: 0.1rem 0.1rem;
  width: 100%;
  table-layout: fixed;
}

table th,
table td {
  border: 1px solid #00b7ff3a;
  padding: 2px;
  width: 25%;
}

table th,
table td,
table tr {
  transition-duration: 200ms;
}

table th {
  border-top: none;
}

.clickable:hover {
  filter: brightness(0.8);
  cursor: pointer;
}

/* Dim entire row on hover */
/* .list-table tbody tr:hover {
  filter: brightness(0.8);
} */

table th:first-child,
table td:first-child {
  border-left: none;
}

table th:last-child,
table td:last-child {
  border-right: none;
}

.type-table-header {
  width: 12% !important
}

.category-table-header {
  width: 12% !important
}

table tbody tr:hover .category-cell:hover {
  color: var(--color-light-blue);
}

.expand-shorten-btn {
  cursor: pointer;
}

.expand-shorten-btn:disabled {
  opacity: 0.4;
}

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 100;
  padding: 1rem;
}

.modal-underlay {
  position: absolute;
  inset: 0;
  background: var(--background);
  opacity: 0.8;
  z-index: 99;
  border: none;
  width: 100%;
  box-shadow: unset;
  cursor: pointer;
}

.modal-underlay:hover {
  transform: translate(0);
  box-shadow: unset;
}

.modal-content {
  position: relative;
  z-index: 101;
  margin: 0 auto;
  border: 1px solid var(--color-light-blue);
  background: var(--background-muted);
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  gap: 0.75rem;
  /* max-height: 95vh; */
  max-width: 85%;
  overflow-y: auto;
}

.modal-content p {
  line-height: 1.2rem;
}

.close-button {  
  position: absolute;
  top: 0.25rem;
  right: 0.25rem;
  padding: 0.2rem 0.1rem;
  color: var(--color-red);
  border: 1.5px solid var(--color-red);
  transition-duration: 200ms;
  cursor: pointer;
  font-size: small;
}

.close-button:hover {
  border: 1.5px solid transparent;
  opacity: 0.9;
}

@media (min-width: 510px) {
  .category-table-header {
    width: 30% !important
  }
}