@import "tailwindcss";

:root {
  --background: #1d2631;
  --foreground: #ededed;

  --bckground-muted: #263b55;

  --color-dark-blue: #00b7ff3a;

  --color-list-bg-red: #d33b3b7a;
  --color-list-bg-green: #84ffb73f;
  --color-list-border-red: #fa6f6f50;
  --color-list-border-green: #00d45869;
}

/* @theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
} */

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #1d2631;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1.25rem;
}

h5, h6 {
  font-size: 1rem;
}

input {
  background-color: var(--foreground);
  color: var(--background);
  padding: 0.4rem 0.7rem;
  border-radius: 0.25rem;
  width: 100%;
  outline: none;
}

select {
  background-color: var(--foreground);
  color: var(--background);
  padding: 0.6rem 0.5rem;
  border-radius: 0.25rem;
  width: 100%;
  max-width: 232px;
  outline: none;
}

.primary-btn {
  background-color: #57b632;
  color: var(--background);
  padding: 0.5rem 0.75rem;
  margin: 0.5rem 0;
  border-radius: 0.5rem;
  cursor: pointer;
  transition-duration: 200ms;
}

input,
select,
textarea {
  box-shadow: 0 0 1.5px 1px white;
}

input,
select,
textarea,
p,
th,
td {
  font-size: 0.9rem;
}

td {
  text-align: center;
}

input:hover,
select:hover,
textarea:hover {
  box-shadow: unset;
}

.primary-btn:hover {
  background-color: #57b632cb;
  color: black;
}

.list-table {
  border-collapse: separate;
  border-spacing: 0.1rem 0.1rem;
  width: 100%;
  table-layout: fixed;
}

.list-table th,
.list-table td {
  border: 1px solid #00b7ff3a;
  padding: 2px;
  width: 25%;
}

.list-table th {
  border-top: none;
}

.list-table td {
  border-bottom: none;
}

.list-table th,
.list-table td {
  cursor: pointer;
}

.list-table th:first-child,
.list-table td:first-child {
  border-left: none;
}

.list-table th:last-child,
.list-table td:last-child {
  border-right: none;
}

.type-table-header {
  width: 12% !important
}

.category-table-header {
  width: 12% !important
}

@media (min-width: 510px) {
  .category-table-header {
    width: 30% !important
  }
}